h3 {
    padding: 10px;
}

.aui-avatar {
    margin-right: 5px;
}

.priority-icon {
    margin-left: 1px;
    margin-right: 5px;
}

.type-icon {
    margin-left: 4px;
    margin-right: 8px;
}

.container, .table-header {
    white-space: nowrap;
}

.no-content {
    padding: 5px;
}

.no-wrap {
    white-space: nowrap;
}

.icon-inline-help {
    margin-left: 10px;
    margin-right: 5px;
}

.field-help {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.optional-filter {
    display: none;
}