{namespace Example.Dashboard.Item.Templates}

/**
 * An example dashboard item.
 *
 * @param pluginName
 * @param version
 * @param issueCount
 */
{template .Static}
    <div>Welcome to <span class="aui-lozenge aui-lozenge-success">{$pluginName}</span> v{$version}!</div>
    <div>The current issue count is {$issueCount}</div>
{/template}